__pycache__
.env
lang
langchain
apikey.py
eb.py
test.py
exp3.py
apify.py
apify2.py
bs.py
detail.py
magazine_test.py
magazine_list.py
de.py
productInfo.html
test.txt
sele.py
product_detail_playwright.py