
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://web-scraping.dev/assets/css/main.css"/>
    <link rel="stylesheet" href="https://web-scraping.dev/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://web-scraping.dev/assets/css/bootstrap-icons.css"/>
    <link rel="stylesheet" href="https://web-scraping.dev/assets/css/highlight-nord.css"/>
    <link rel="icon" href="https://web-scraping.dev/assets/media/icon.png" type="image/png" />
    <script src="https://web-scraping.dev/assets/js/cash.min.js"></script>
    <script src="https://web-scraping.dev/assets/js/main.js"></script>
    <script src="https://web-scraping.dev/assets/js/bootstrap.js"></script>
    


<title>web-scraping.dev product Box of Chocolate Candy</title>
<meta name="description" content="Mock product Box of Chocolate Candy page for web scraper testing" />

<meta property="og:site_name" content="Scrapeground" />
<meta property="og:type" content="article" />
<meta property="og:title" content="web-scraping.dev product Box of Chocolate Candy" />
<meta property="og:description" content="Mock product Box of Chocolate Candy page for web scraper testing" />
<meta property="og:url" content="https://web-scraping.dev/product/1" />
<meta property="og:image" content="https://web-scraping.dev/banners/product.png" />
<meta property="og:image:type" content="image/png" />
<meta property="article:published_time" content="2023-05-20T00:00:00.000Z" />
<meta property="article:modified_time" content="2023-05-20T00:00:00.000Z" />
<meta property="article:tag" content="webscraping,mock,product" />
<meta property="article:publisher" content="https://web-scraping.dev/" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="web-scraping.dev product Box of Chocolate Candy" />
<meta name="twitter:description" content="Mock product Box of Chocolate Candy page for web scraper testing" />
<meta name="twitter:url" content="https://web-scraping.dev/product/1" />
<meta name="twitter:image" content="https://web-scraping.dev/banners/product.png" />
<meta name="twitter:site" content="@Scrapfly_dev" />


  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://web-scraping.dev/">web-scraping.dev</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" aria-current="page" href="/docs">API</a></li>
            <li class="nav-item"><a class="nav-link" aria-current="page" href="https://web-scraping.dev/products">Products</a></li>
            <li class="nav-item"><a class="nav-link" aria-current="page" href="https://web-scraping.dev/testimonials">Testimonials</a></li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
            
            <li class="nav-item"><a class="nav-link" aria-current="page" href="https://web-scraping.dev/login">login</a></li>
            
            <li class="nav-item cart-preview">
              <div class="cart-icon">
                <svg width="25" height="24.72" fill="none" version="1.1" viewBox="0 0 .75 .7415" xmlns="http://www.w3.org/2000/svg">
                 <path d="m0.1345 0.1046h0.511c0.05191 0 0.08857 0.05086 0.07215 0.1001l-0.06338 0.1901c-0.01035 0.03105-0.03941 0.052-0.07215 0.052h-0.3988m-0.04889-0.3422-0.00154-0.01076c-0.00535-0.03747-0.03744-0.0653-0.07529-0.0653h-0.0291m0.1059 0.07605 0.04889 0.3422m0 0 0.00697 0.04878c0.00535 0.03747 0.03744 0.0653 0.07529 0.0653h0.3333m0 0c-0.042 0-0.07605 0.03405-0.07605 0.07605s0.03405 0.07605 0.07605 0.07605c0.042 0 0.07605-0.03405 0.07605-0.07605 0-0.042-0.03405-0.07605-0.07605-0.07605zm-0.2282 0.07605c0 0.042-0.03405 0.07605-0.07605 0.07605-0.042 0-0.07605-0.03405-0.07605-0.07605 0-0.042 0.03405-0.07605 0.07605-0.07605 0.042 0 0.07605 0.03405 0.07605 0.07605z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width=".05704"/>
                </svg>
                <sup class="cart-count"></sup>
              </div>
              <div class="cart-data">
                <div class="cart-items"></div>
                <div class="cart-meta"></div>
                <div class="cart-control">
                <button class="btn btn-primary btn-rounded cart-clear btn-danger">Clear</button>
                <a href="/cart"><button class="btn btn-primary btn-rounded cart-continue btn-success">Continue</button></a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="main">
        
<div class="container">
  <div class="container card product-card">
    <div class="card-body">
      
      <h3 class="card-title product-title">Box of Chocolate Candy</h3>
      <h6 class="card-subtitle product-subtitle"></h6>

      <div class="row product-data">
        <div class="col-lg-5 col-md-5 col-sm-6">
          <div class="white-box text-center row product-images">
            
            <img src="https://web-scraping.dev/assets/products/orange-chocolate-box-small-1.png" class="img-responsive product-img active" />
            
            <img src="https://web-scraping.dev/assets/products/orange-chocolate-box-small-2.png" class="img-responsive product-img " />
            
            <img src="https://web-scraping.dev/assets/products/orange-chocolate-box-small-3.png" class="img-responsive product-img " />
            
            <img src="https://web-scraping.dev/assets/products/orange-chocolate-box-small-4.png" class="img-responsive product-img " />
            
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6">
          <h4 class="box-title">Description</h4>
          <p class="product-description">Indulge your sweet tooth with our Box of Chocolate Candy. Each box contains an assortment of rich, flavorful chocolates with a smooth, creamy filling. Choose from a variety of flavors including zesty orange and sweet cherry. Whether you're looking for the perfect gift or just want to treat yourself, our Box of Chocolate Candy is sure to satisfy.</p>

          <div class="price">
            
            <span class="product-price mt-5 fs-1 text-success">$9.99 </span>
            <small class="align-top text-center">from <span
                class="product-price-full">$12.99</span></small>
            
          </div>

          <button class="btn btn-secondary btn-rounded me-3 add-to-cart" data-product-id="1" data-variant-id="orange-small"> Add to Cart</button>
          <button class="btn btn-primary btn-rounded buy-now">Buy Now</button>
          <h3 class="box-title mt-5">Variants</h3>
          <div class="list-group variants">
            
            <a href="https://web-scraping.dev/product/1?variant=orange-small" data-variant-id="orange-small"
              class="variant list-group-item list-group-item-action active"
              aria-current="true">
              
              <span class="variant-color" style="background:#ffa500"></span>
              
              orange, small
            </a>
            
            <a href="https://web-scraping.dev/product/1?variant=orange-medium" data-variant-id="orange-medium"
              class="variant list-group-item list-group-item-action"
              aria-current="true">
              
              <span class="variant-color" style="background:#ffa500"></span>
              
              orange, medium
            </a>
            
            <a href="https://web-scraping.dev/product/1?variant=orange-large" data-variant-id="orange-large"
              class="variant list-group-item list-group-item-action"
              aria-current="true">
              
              <span class="variant-color" style="background:#ffa500"></span>
              
              orange, large
            </a>
            
            <a href="https://web-scraping.dev/product/1?variant=cherry-small" data-variant-id="cherry-small"
              class="variant list-group-item list-group-item-action"
              aria-current="true">
              
              <span class="variant-color" style="background:#ff4500"></span>
              
              cherry, small
            </a>
            
            <a href="https://web-scraping.dev/product/1?variant=cherry-medium" data-variant-id="cherry-medium"
              class="variant list-group-item list-group-item-action"
              aria-current="true">
              
              <span class="variant-color" style="background:#ff4500"></span>
              
              cherry, medium
            </a>
            
            <a href="https://web-scraping.dev/product/1?variant=cherry-large" data-variant-id="cherry-large"
              class="variant list-group-item list-group-item-action"
              aria-current="true">
              
              <span class="variant-color" style="background:#ff4500"></span>
              
              cherry, large
            </a>
            
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 product-features">
        <h3 class="box-title mt-5">Features</h3>
        <div class="table-responsive features">
          <table class="table table-striped table-product">
            <tbody>
              
              <tr class="feature">
                <td width="390" class="feature-label">material</td>
                <td class="feature-value">Premium quality chocolate</td>
              </tr>
              
              <tr class="feature">
                <td width="390" class="feature-label">flavors</td>
                <td class="feature-value">Available in Orange and Cherry flavors</td>
              </tr>
              
              <tr class="feature">
                <td width="390" class="feature-label">sizes</td>
                <td class="feature-value">Available in small, medium, and large boxes</td>
              </tr>
              
              <tr class="feature">
                <td width="390" class="feature-label">brand</td>
                <td class="feature-value">ChocoDelight</td>
              </tr>
              
              <tr class="feature">
                <td width="390" class="feature-label">care instructions</td>
                <td class="feature-value">Store in a cool, dry place</td>
              </tr>
              
              <tr class="feature">
                <td width="390" class="feature-label">purpose</td>
                <td class="feature-value">Ideal for gifting or self-indulgence</td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 product-reviews">
        <h3 class="box-title mt-5">Reviews</h3>
        <div id="reviews" data-page="1">
        </div>
        
        <button 
          id="load-more-reviews"
          class="btn btn-primary btn-rounded"
        >Load More</button>
        
      </div>
      
    </div>
  </div>
</div>

    </div>
    
<input type="hidden" name="csrf-token" value="secret-csrf-token-123"/>
<script type="application/json" id="reviews-data">[{"date": "2022-07-22", "id": "chocolate-candy-box-1", "rating": 5, "text": "Absolutely delicious! The orange flavor is my favorite."}, {"date": "2022-08-16", "id": "chocolate-candy-box-2", "rating": 4, "text": "I bought these as a gift, and they were well received. Will definitely purchase again."}, {"date": "2022-09-10", "id": "chocolate-candy-box-3", "rating": 5, "text": "Nice variety of flavors. The chocolate is rich and smooth."}, {"date": "2022-10-02", "id": "chocolate-candy-box-4", "rating": 5, "text": "The cherry flavor is amazing. Will be buying more."}, {"date": "2022-11-05", "id": "chocolate-candy-box-5", "rating": 4, "text": "A bit pricey, but the quality of the chocolate is worth it."}]</script>

<script id="reviews-template" type="nunjucks">
{% for review in reviews %}
<div class="review review-{{review['id']}}">
  <span>{{review['date']}}</span>
  {% for i in range(review['rating']) %}
  <svg width="20px" height="20px" viewBox="0 0 64 64" role="img"><path d="M62 25.2H39.1L32 3l-7.1 22.2H2l18.5 13.7l-7 22.1L32 47.3L50.5 61l-7.1-22.2L62 25.2z" fill="#ffce31"></path></svg>
  {% endfor %}
  <p>{{review['text']}}</p>
</div>
{% endfor %}
</script>


<script src="https://web-scraping.dev/assets/js/nunjucks.js"></script>
<script>
  /**
   * Takes reviews from hidden web data JSON (the id=reviews-data element)
   * and renders that JSON to HTML using nunjucks
   */
  function renderReviews() {
    var template = document.getElementById('reviews-template').innerHTML;
    var data = JSON.parse(document.getElementById('reviews-data').innerHTML);
    var rendered = nunjucks.renderString(template, {reviews: data});
    document.getElementById('reviews').innerHTML += rendered;
  }
  /**
   * Request next page of reviews via XHR and calls renderReviews again
   */
  async function nextReviews() {
    let page = parseInt(document.getElementById('reviews').dataset['page']) + 1;
    let url = new URL("https://web-scraping.dev/api/reviews?product_id=1");
    url.searchParams.set("page", page);
    let csrf = document.querySelector('[name=csrf-token]').value;
    let options = {
        method: 'GET',
        headers: {
            'x-csrf-token': csrf
        }
    };
    let data = await (await fetch(url, options)).json();
    document.getElementById('reviews-data').innerHTML = JSON.stringify(data['results']);
    renderReviews();    
    document.getElementById('reviews').dataset['page'] = page;
    if (!data['next_url']){
      document.getElementById('load-more-reviews').remove();
    };
    console.log('loaded next page of reviews');
  }

  window.addEventListener('load', (event) => {
    setTimeout(renderReviews, 500);
    document.getElementById('load-more-reviews').addEventListener('click', async function() {
      // Your asynchronous code here
      await nextReviews();
    });
  });
</script>

    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <span class="ms-3">
          <a href="https://twitter.com/scrapfly_dev">
            <svg width="20" height="16" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24.5028 2.3548C23.6012 2.7552 22.6324 3.024 21.616 3.1472C22.6548 2.5256 23.45 1.54 23.8252 0.3668C22.8536 0.9436 21.7756 1.3608 20.6332 1.5876C19.7176 0.6104 18.41 0 16.9652 0C14.1876 0 11.9364 2.2484 11.9364 5.026C11.9364 5.4208 11.9812 5.8044 12.0652 6.1712C7.8876 5.9612 4.1832 3.962 1.7052 0.9184C1.274 1.6604 1.0248 2.5256 1.0248 3.4468C1.0248 5.1912 1.9124 6.7284 3.2592 7.63C2.436 7.6048 1.6604 7.378 0.9828 7V7.0644C0.9828 9.5004 2.716 11.5304 5.0148 11.9924C4.5948 12.1072 4.1496 12.1688 3.6904 12.1688C3.3656 12.1688 3.052 12.138 2.7468 12.0792C3.3852 14.0756 5.2416 15.5288 7.4396 15.5708C5.7204 16.9176 3.556 17.7212 1.1984 17.7212C0.7924 17.7212 0.3948 17.6988 0 17.6512C2.226 19.0764 4.8664 19.908 7.7056 19.908C16.9512 19.908 22.008 12.25 22.008 5.6084C22.008 5.39 22.0024 5.1744 21.994 4.9588C22.9768 4.2476 23.8308 3.3628 24.5028 2.3548Z" fill="currentColor"></path>
          </a>
          </svg>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <span class="text-muted meta-version">v1.2.0</a>
          <span class="text-muted meta-created-by">made by <a href="https://web-scraping.dev/">ScrapFly</a>
          <svg width="20" height="20" fill="#000000" version="1.1" viewBox="0 0 542.2 542.2" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
          <g fill="#4ea8f1">
            <g fill="#4ea8f1">
              <path d="m411.3 21.42c-65.34-59.9-140.2 24.84-140.2 24.84h-0.545s-74.88-84.74-140.2-24.84c-63.28 58.02-11.38 187.4 126.7 250.3-2.008 3.672-2.037 4.877-2.037 4.877l-10.08 27.5c-4.829 8.798-0.918 29.01 8.73 29.01h8.616c0.832 71.74-11.74 182 60.94 208.3 14.48 5.231 20.66-17.8 6.33-22.97-54.23-19.6-44.25-123-43.87-185.3h2.917c9.648 0 13.56-21.61 8.73-30.41-4.819-8.797-9.257-22.16-9.257-22.16l-2.592-6.714c139.5-62.49 189.4-194.1 125.8-252.4z" fill="#4ea8f1"/>
            </g>
          </g>
          </svg>
          </span>
        </ul>
      </footer>
    </div>
    

  </body>
</html>